
# File Extensions
*.bak
*.csv
*.curseclient
*.dat
*.dll
*.ini
*.jar
*.jpg
*.log
*.rar
*.zip

# Folders
.mixin.out
asm
backups
bendspacks
betweenlands_gallery
crash-reports
dig
downloads
dumps
fancymenu_data
fancymenu_setups
fonts
generated
impossible_data
journeymap
local
logs
mods
moreplanetsstructures
mputils
orbis
patchouli_books
resourcepacks
saves
screenshots
scripts_old
shaderpacks
vintagefix

# Specific Files
.ReAuth.cfg
config.json
config/Aether/analytics.json.gz
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/brandon3055/contributors.json
config/customloadingscreen_timings.nbt
config/jei/worldSettings.cfg
config/SGCraft/general.yml
config/spark/activity.json
config/splash.properties
CustomRecipes.cfg
knownkeys.txt
manifest.json
minecraftinstance.json
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
planets.txt
splash.properties
usercache.json
usernamecache.json
