
# File Extensions
*.bak
*.curseclient
*.dat
*.dll
*.ini
*.jar
*.jpg
*.log
*.rar
*.zip

# Folders
.mixin.out
asm
backups
bendspacks
betweenlands_gallery
crash-reports
dig
downloads
dumps
fancymenu_data
fancymenu_setups
fonts
impossible_data
journeymap
local
logs
mods
mputils
orbis
patchouli_books
resourcepacks
saves
screenshots
shaderpacks
vintagefix

# Specficic files
.ReAuth.cfg
config.json
knownkeys.txt
manifest.json
minecraftinstance.json
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
planets.txt
usercache.json
usernamecache.json