# Configuration file

general {
    # This is the Biome Black/Whitelist. If it contains *, it is a blacklist. Otherwise, it is a whitelist.
    S:biomefilter <
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
        *
     >

    # Increase the precision of the biome filter. This may reduce performance.
    B:biomeprecision=false

    # This is the Dimension Black/Whitelist. If it contains *, it is a blacklist. Otherwise, it is a whitelist.
    S:dimension_list <
        684
        684
        684
        684
        684
        0
        0
        0
        0
        0
        0
        77
        0,7
        0,7
        -1
        76
        7
        7
        *
        *
        *
        49
        49
        49
     >

    # Runs the replacement this many ticks after the chunk is generated. Use this if you're having issues with some blocks not being replaced. I strongly recommend that you do not set this above 10. 2-5 should be plenty.
    I:lateReplacement=2

    # The server's locale
    S:locale=en_us

    # The highest Y value the block should be replaced at
    # Min: -1
    # Max: 256
    I:maxy <
        1
        1
        1
        1
        1
        70
        70
        70
        70
        70
        70
        70
        70
        70
        128
        128
        200
        200
        256
        256
        256
        256
        256
        256
     >

    # The lowest Y value the block should be replaced at
    # Min: -1
    # Max: 256
    I:miny <
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
     >

    # Multiplies the block removal chance by the block's y-value.
    B:multiplychance <
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
        false
     >

    # Prevent the world from loading if the mod is improperly configured. This is to prevent terrain from generating without the intended configuration.
    B:preventLoadOnFailure=true

    # The block id to replace.
    S:replaceblock <
        dimdoors:unravelled_fabric
        dimdoors:eternal_fabric
        minecraft:stone
        minecraft:cobblestone
        minecraft:gravel
        minecraft:redstone_ore
        lockyzextradimensionsmod:interdimensionalore
        lockyzextradimensionsmod:cloudore
        lockyzextradimensionsmod:alternateore
        lockyzextradimensionsmod:flintore
        goodnightsleep:rainbow_ore
        blue_skies:everdawn_emerald_ore
        minecraft:diamond_ore
        minecraft:emerald_ore
        netherex:amethyst_ore
        blue_skies:everbright_emerald_ore
        minecraft:iron_block
        minecraft:soul_sand
        galacticraftcore:rocket_workbench
        galacticraftcore:block_multi
        cavern:cave_block
        aether:holystone
        aether:aether_grass
        aether:irradiated_dust_block
     >

    # The block meta to replace. Use -1 for the block's default state.
    I:replaceblockmeta <
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        3
        4
        3
        4
        -1
     >

    # Changing this will allow Block Replacer to run again on existing chunks. Useful for doing retrogen on world you've already run the mod on. Back up your world before changing this.
    S:replacementChunkKey=DEFAULT_REPLACE_KEY

    # What percentage of the blocks get replaced. 0.0D = 0%, 1.0D = 100%
    # Min: 0.0
    # Max: 1.0
    D:replacepercent <
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
        1.0
     >

    # The block id to replace the block with.
    S:replacewith <
        aoa3:dimensional_fabric
        aoa3:dimensional_fabric
        aoa3:dimensional_fabric
        aoa3:dimensional_fabric
        aoa3:dimensional_fabric
        minecraft:stone
        minecraft:stone
        minecraft:stone
        minecraft:stone
        minecraft:stone
        minecraft:stone
        blue_skies:lunar_stone
        minecraft:stone
        minecraft:stone
        minecraft:netherrack
        blue_skies:turquoise_stone
        minecraft:dirt
        minecraft:dirt
        minecraft:air
        minecraft:air
        minecraft:stone
        aether:holystone
        aether:aether_grass
        aether:thera_dirt
     >

    # The block meta for the replacement block. Use -1 for the block's default state.
    I:replacewithmeta <
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        -1
        1
        -1
     >

    # Enables using blocks that might crash/lag the game if used to replace other blocks. Enable at your own risk.
    B:riskyblocks=true
}


