# Configuration file

general {
    # Selects the files that are being loaded [default: ]
    S:LoadingFiles <
        bedrock.json
        brick.json
        brick2.json
        daedalus.json
        dimensionexpansions.json
        midnight.json
        midnight2.json
        nether.json
        overworld.json
        stargate_moon.json
        stargate_mars.json
        stargate_overworld.json
        stargate_venus.json
        stargate_phobos.json
        stargate_asteroids.json
        stargate_lunalus.json
        stargate_jupiter.json
        stargate_io.json
        stargate_europa.json
        stargate_ganymede.json
        stargate_saturn.json
        stargate_titan.json
        stargate_oberon.json
        stargate_titania.json
        stargate_erebus.json
        stargate_pluto.json
        wool.json
     >

    # Selects the files that load into the NBTStorage [default: ]
    S:NBTFiles <
     >
    B:printDocumentation=false
    B:printDocumentationInCurseFormat=false
}


plugins {
    B:Forge=true
    B:GameStages=true
    B:Loot=true
    B:Player=true
    B:Score=true
    B:Utils=true
    B:World=true
}


